body{
    margin: 0px
}
*{
    box-sizing: border-box;
}
.container{
    max-width: 800px;
    width: 100%;
    background-color: white;
    height: 540px;
    border: 1px solid gray;   
    margin: 0 auto;         
    margin-top: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap:  10px;
}

.header-firt-colunm{
    width: 80%;
}

.header-second-colunm{
    width: 80%;
}

.button{
    background-color: fuchsia;
    padding: 10px;
    border-radius: 6px;
    border: 0px;
    color: white;
    margin-left: 260px;
    
}

.container-list{
    max-width: 600px;
    width: 100%;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
}

.item-element{
    width: 100%;
    border: 1px solid gray;
    height: 50px;
    margin-bottom: 10px;
    border: 8px;
    box-shadow: 2px 2px 21px 2px rgb(213 213 213 / 74%);
    display: flex;
    margin-right: 250px;
}
.item-element-content{
    width: 80%;
}

.item-element-content h2{
    font-size: 20px;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.action-button{
    background-color: transparent;
    padding: 10px;
    border-radius: 6px;
    border: 0px;
    color: fuchsia;
}